<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Auto Watering Project">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">

<link rel="stylesheet" href="../static/Home.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

  </head>
  <body class="u-body">
    <section class="u-section-1" id="sec-878a">
      <div>
        <h1 class="u-text">Auto Watering Project</h1>
      </div>
    </section>
    <section class="u-section-2" id="sec-7136">
      <div class="u-dropdown">
        <label for="sensors">Sensor:</label>
        <select name="sensors" id="sensors" onchange='updateGraph(this.value)'>
        </select>
      </div>
      <div class="u-container">
        <div id="chart" class="chart"></div>
      </div>
    </section>

    <section class="u-section-3" id="sec-a257">
                <div class="u-container">
                  <a href="https://nicepage.com/joomla-page-builder" class="u-btn">Button</a>
                </div>
    </section>
  </body>
"
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{graphJSON | safe}};
  //myDiv = document.getElementById('chart')
  Plotly.plot('chart',graphs,{});
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
let dropdown = $('#sensors');

dropdown.empty();
dropdown.append('<option selected="true" disabled>Choose Sensor</option>');
dropdown.prop('selectedIndex', 0);

const url = 'http://192.168.0.19:5000/get_sensors';

// Populate dropdown with list of provinces
$.getJSON(url, function (data) {
  $.each(data['body'], function (sensor) {
    dropdown.append($('<option></option>').attr('value', data['body'][sensor]).text(data['body'][sensor]));
  })
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  function updateGraph(sensor) {
    const url = 'http://192.168.0.19:5000/get_data/' + sensor;
    $.getJSON(url, function(graph_data) {
          Plotly.newPlot('chart',graph_data,{});

    })
  }
</script>
</html>